<?xml version="1.0" encoding="utf-8"?>
<!--
our manifest where we declare all permissions that are needed for this app to run
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Notification permission (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Bluetooth permissions for API 31+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Bluetooth permissions for API 28–30 -->
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Location required for BLE scanning on all API levels -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/attune_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/attune_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EECS582Capstone">
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.EECS582Capstone.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- login screen -->
        <activity android:name=".Entry" />
        <!-- main app screen -->
        <activity android:name=".MainActivity" />
        <!-- intake quiz -->
        <activity android:name=".UserIntakeQuizActivity" />
    </application>

</manifest>